@charset "UTF-8";

@font-face {
    font-family: Tinos;
    src: url(https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap);
}

body{
    font-family: Tinos;
    background-color: rgb(255, 255, 255);
    padding-top: 70px;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 1px 0px 0px 12px;
    transition: all .50s ease;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: yellowgreen; /* escolher cor melhor */
    transition: all 1000ms ease; 
}

.main{
    display: flex;
}

.main ul, li{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 10px;
    transition: all .50s ease;
}

ul {
    list-style-type: none;
  }