@font-face {
    font-family: "Averta Regular";
    src: url('./fonts/AVERTA/AVERTA-REGULAR.OTF');
}

@font-face {
    font-family: "Averta Bold";
    src: url('./fonts/AVERTA/Averta\ Bold.otf');
}

@font-face{
    font-family: "Averta Light";
    src: url('fonts/AVERTA/AVERTA-LIGHT.OTF');
}

@font-face{
    font-family: "Averta SemiBold";
    src: url('fonts/AVERTA/AVERTA-SEMIBOLD.OTF');
}

p {
    font-family: 'Averta Regular', 'Averta Light', 'Arial', 'sans-serif';
}